#ignore client secret
*client_secret.json

#ignore virtual env
venv/

#ignore gcloud sdk
google-cloud-sdk/

#ignore pickled database
*.pkl

#ignore lib
lib/


#source '/Users/giuseppecrosti/Documents/1weekoffood/google-cloud-sdk/path.bash.inc'
#source '/Users/giuseppecrosti/Documents/1weekoffood/google-cloud-sdk/completion.bash.inc'


