<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="center-on-page">  
<h1>Let's plan your food for the week!</h1>
<form class="form-inline" method="POST" action="{{ url_for('result') }}">
   <div class="select">
    <h2>How many mouths are you feeding?</h2>
    <select name="mouths" class="selectpicker form-control">
    {% for o in mouths %}
     <option value="{{ o }}">{{ o }}</option>
    {% endfor %}
    </select>
    <h2>What percentage of your lunches do you want to prep for?</h2>
    <select name="lunch_p" class="selectpicker form-control">
    {% for o in percentages %}
     <option value="{{ o }}">{{ o }}</option>
    {% endfor %}
    </select>
    <h2>What percentage of your dinners do you want to prep for?</h2>
    <select name="dinner_p" class="selectpicker form-control">
    {% for o in percentages %}
     <option value="{{ o }}">{{ o }}</option>
    {% endfor %}
    </select>
    <h2>Are you vegetarian</h2>
    <select name="veg" class="selectpicker form-control">
    {% for o in yesno %}
     <option value="{{ o }}">{{ o }}</option>
    {% endfor %}
    </select>
    <h2>Are you gluten-free?</h2>
    <select name="gf" class="selectpicker form-control">
    {% for o in yesno %}
     <option value="{{ o }}">{{ o }}</option>
    {% endfor %}
    </select>
   </div>
    <button type="submit" class="btn">Go</button>
</form>